@keyframes animate-show-content {
    from {
        @apply -mt-1
    }
    to {
        opacity: 1;
    }
}

#app {
    @apply h-screen overflow-hidden bg-stone-900 text-white;

    @media (min-width: 480px) {
        @apply grid;
        grid-template-columns: 1fr minmax(min-content, 600px) 1fr;
    }
}

.app-content {
    @apply h-screen overflow-y-auto pt-2 px-2 border-stone-700 border-x;
    opacity: 0;
    animation-delay: 0.2s;
    animation-duration: 0.3s;
    animation-name: animate-show-content;
    animation-fill-mode: forwards;
    grid-column: 2;
}